/*  */
@import url(https://fonts.googleapis.com/css?family=Raleway);

#home {
    width:100%;
    height:92.8vh;
    
}
.lr-wrapper {
    max-width:100%;
    height:500px;
    margin-top:5%;
}
.lr-content {
    height:500px;
    width:400px;
}
.lr-head {
    width:100%;
    height:50px;
}
.lr-l_b {
    width:49.7%;
    height:50px;
    float:left;
    background-color:#e74c3c;
    transition: background-color 0.8s ease;
}
.l_b{
    width:99%;
    height:50px;
    float:left;
    background-color:#e74c3c;
    transition: background-color 0.8s ease;
}

.l_b > div {
    height:7px;
    width:100%;
}
.l_b > span {
    width:100%;
    font-size:30px;
    height:30px;
    padding-top:5px;
    color:white;
    transition: color 0.8s ease;
}
.lr-l_b > div {
    height:7px;
    width:100%;
}
.lr-l_b > span {
    width:100%;
    font-size:30px;
    height:30px;
    padding-top:5px;
    color:white;
    transition: color 0.8s ease;
}
.lr-r_b {
    width:49.7%;
    height:50px;
    float:right;
    transition: background-color 0.8s ease;
}
.lr-r_b > div {
    height:7px;
    width:100%;
}
.lr-r_b > span {
    width:100%;
    font-size:30px;
    height:30px;
    padding-top:5px;
    transition: color 0.8s ease;
}
#l-f {
    transition: display 1.8s ease;
}
.l-username {
    width:94%;
    height:40px;
    margin-top:100px;
    padding-left:20px;
    outline:none;
    font-size:25px;
    font-family:Raleway;
    border:1px solid #b3b3b3;
    transition:border 1.0s ease;
}
.l-username:focus {
    border:1px solid #FF5252;
}

.l-password {
    width:94%;
    height:40px;
    margin-top:20px;
    padding-left:20px;
    outline:none;
    font-size:25px;
    font-family:Raleway;
    border:1px solid #b3b3b3;
    transition:border 1.0s ease;
}
.l-password:focus {
    border:1px solid #FF5252;
}

#r-f {
    display:none;
}

#f-f {
    display:none;
}

.r-email {
    width:94%;
    height:40px;
    margin-top:100px;
    padding-left:20px;
    outline:none;
    font-size:25px;
    font-family:Raleway;
    border:1px solid #b3b3b3;
    transition:border 1.0s ease;
}

.form {
    width:94%;
    height:40px;
    margin-top:20px;
    padding-left:20px;
    outline:none;
    font-size:25px;
    font-family:Raleway;
    border:1px solid #b3b3b3;
     transition:border 1.0s ease;
}

.r-form {
    width:94%;
    height:40px;
    margin-top:20px;
    padding-left:20px;
    outline:none;
    font-size:25px;
    font-family:Raleway;
    border:1px solid #b3b3b3;
     transition:border 1.0s ease;
}

.submit {
    width:150px;
    height:50px;
    margin-top:20px;
    border:none;
    outline:none;
    font-size:25px;
    font-family:Raleway;
    background-color:#e74c3c;
    color:white;
    border-bottom:5px solid #c0392b;
    cursor:pointer;
}

#alert {
    width:94%;
    height:10px;
    padding-top:10px;
    padding-left:20px;
    outline:none;
    font-size:10px;
    font-family:Raleway;
}

.form:focus {
    border:1px solid #FF5252;
}

.accent-text {
    color: #e74c3c;
    transition:color 1s;
}

/* end of source */

.box{
    padding-top: 100px;
    padding-bottom: 100px;
}

.nav-menu:hover{
    background-color: black;
    cursor: pointer;
}

/* */

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
}

.title {
  position: relative;
  -webkit-perspective: 400;
          perspective: 400;
  padding-left: 17px;
  font-family: Trebuchet;
  font-weight: bold;
  font-size: 30px;
  color: black;
}

.title:before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 6px;
  background: #ff1212;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
  -webkit-animation: title-border-slide-in 1s ease-out forwards;
          animation: title-border-slide-in 1s ease-out forwards;
}

.title .title-word {
  opacity: 0;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.title .title-word:nth-child(1) {
  -webkit-animation: roll-in 0.15s 0s ease-out forwards;
          animation: roll-in 0.15s 0s ease-out forwards;
}

.title .title-word:nth-child(2) {
  -webkit-animation: roll-in 0.15s 0.2s ease-out forwards;
          animation: roll-in 0.15s 0.2s ease-out forwards;
}

.title .title-word:nth-child(3) {
  -webkit-animation: roll-in 0.15s 0.8s ease-out forwards;
          animation: roll-in 0.15s 0.8s ease-out forwards;
}

.title .title-word:nth-child(4) {
  -webkit-animation: roll-in 0.15s 1.5s ease-out forwards;
          animation: roll-in 0.15s 1.5s ease-out forwards;
}

@-webkit-keyframes title-border-slide-in {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes title-border-slide-in {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes roll-in {
  0% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1;
  }
}

@keyframes roll-in {
  0% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1;
  }
}

/* end of code from source */